#!/usr/bin/env bash

PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Get public IP address
curl https://checkip.amazonaws.com | tr -d "\n" >/tmp/myip.txt

# Update DNS record
echo

curl -sS -X PUT "https://api.cloudflare.com/client/v4/zones/$CADDY_OLLAMA_API_ZONEID/dns_records/$CADDY_OLLAMA_API_RECORDID" \
     -H "Authorization: Bearer $CADDY_OLLAMA_API_CFTOKEN" \
     -H "Content-Type: application/json" \
     --data '{"type":"A","name":"'$CADDY_OLLAMA_API_DOMAIN'","content":"'`cat /tmp/myip.txt`'","ttl":1,"proxied":true}'

echo

curl -sS -X PUT "https://api.cloudflare.com/client/v4/zones/$CADDY_OLLAMA_API_ZONEID/dns_records/$CADDY_OLLAMA_API_RECORDID2" \
     -H "Authorization: Bearer $CADDY_OLLAMA_API_CFTOKEN" \
     -H "Content-Type: application/json" \
     --data '{"type":"A","name":"'$CADDY_OLLAMA_API_DOMAIN2'","content":"'`cat /tmp/myip.txt`'","ttl":1,"proxied":false}'

echo

date
