[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/johnko/bash-git-prompt.git
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/johnko/pure.git
[submodule ".zsh/zsh-colored-man-pages"]
	path = .zsh/zsh-colored-man-pages
	url = https://github.com/johnko/zsh-colored-man-pages.git
[submodule ".zsh/zsh-command-time"]
	path = .zsh/zsh-command-time
	url = https://github.com/johnko/zsh-command-time.git
[submodule ".zsh/kube-ps1"]
	path = .zsh/kube-ps1
	url = https://github.com/johnko/kube-ps1.git
[submodule "docker-files/squid/ref/squid-in-a-can"]
	path = docker-files/squid/ref/squid-in-a-can
	url = https://github.com/johnko/squid-in-a-can.git
[submodule "docker-files/squid/ref/squid-npm"]
	path = docker-files/squid/ref/squid-npm
	url = https://github.com/johnko/squid-npm.git
[submodule "docker-files/squid/ref/docker-squid-cache-all"]
	path = docker-files/squid/ref/docker-squid-cache-all
	url = https://github.com/johnko/docker-squid-cache-all.git
[submodule ".hammerspoon/Spoons/PaperWM.spoon"]
	path = .hammerspoon/Spoons/PaperWM.spoon
	url = https://github.com/johnko/PaperWM.spoon.git
[submodule ".hammerspoon/Spoons/WarpMouse.spoon"]
	path = .hammerspoon/Spoons/WarpMouse.spoon
	url = https://github.com/johnko/WarpMouse.spoon.git
