[alias]
	# View the SHA, description, and history graph of the latest 40 commits
	ll = "log -n 40 --graph --decorate --branches --date=relative --date-order --format='%C(yellow)%h %C(cyan)%cd%C(auto)%d %C(reset)%s %C(blue)%aN'"
	lt = "log -n 40 --graph --decorate --branches --tags --date=relative --date-order --format='%C(yellow)%h %C(cyan)%cd%C(auto)%d %C(reset)%s %C(blue)%aN'"
	l = "log --graph --decorate --branches --date=relative --date-order --format='%C(yellow)%h %C(cyan)%cd%C(auto)%d %C(reset)%s %C(blue)%aN'"
	# View the current working tree status using the short format
	s = status -s
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
	# 'git di $number' shows the diff between the state $number revisions ago and the current state
	di = !"d() { git diff -w --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	dw = diff -w
	dwd = diff --word-diff
	dwwd = diff -w --word-diff
	# Pull in remote changes for the current repository and all its submodules
	p = !"git pull; \
		git submodule foreach 'git checkout master || git checkout main || :'; \
		git submodule foreach 'git pull --ff-only origin master || git pull --ff-only origin main || :'; \
		"
	phs = push
	psh = push
	pu = pull
	puhs = push
	pul = pull
	pus = push
	# Clone a repository including all submodules
	c = clone --recursive
	# Commit all changes
	ca = !git add -A && git commit -av
	ccommit = commit
	comimmt = commit
	comimt = commit
	comit = commit
	commmit = commit
	commt = commit
	# Switch to a branch, creating it if necessary
	go = checkout -B
	co = checkout
	# prune remote
	rpo = remote prune origin
	# delete branch
	bd = branch -D
	# Show verbose output about tags, branches or remotes
	tags = !"git log --tags --simplify-by-decoration --pretty='format:%ci %d' | grep 'tag:'"
	branches = branch -a
	remotes = remote -v
	stahs = stash
	# Set branch master to follow upstream
	mm = branch --set-upstream-to=origin/master master
	pm = !"set -x; git fetch; git branch -d master; git checkout origin/master; git checkout -b master; git branch --set-upstream-to=origin/master master; git pull"
	# Credit an author on the latest commit
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"
	amend = !"git commit --amend --date=\"$(date -R)\""
	fm = !"git fetch; git checkout origin/master"

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	# Use custom .gitignore and .gitattributes
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,indent-with-non-tab,trailing-space

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[transfer]
	fsckObjects = true

[push]
	default = simple
	autoSetupRemote = true

[pull]
	ff = only

[init]
	defaultBranch = main

# [commit]
# 	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Users/john/bin/op-ssh-sign"

[user]
	name = johnko
	email = 279736+johnko@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHfl5IX2a1XRBI1cGmeUUgHiT8C1Xa3sYwaFfMOhKuBy
