.CFUserTextEncoding
.DS_Store
.Trash/
.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/github.cson
.atom/packages/
.atom/storage/
.bash_history
.bash_sessions/
.config/
.gem/
.npm/
.viminfo
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.ssh/id_rsa
venv/
.lesshst
