*.key
*.pem
*.pfx
.*_history
.account
.ansible_galaxy
.anyconnect
.bash_sessions/
.cache/
.CFUserTextEncoding
.cisco/
.config/configstore/
.config/gcloud/
.config/gtk*/
.cups/lpoptions
.docker/.buildNodeID
.docker/.token_seed*
.docker/application-template/
.docker/config.json
.docker/contexts/
.docker/daemon.json
.docker/run/
.docker/scan/
.DS_Store
.gem/ruby/
.gem/specs/
.kube/cache/
.kube/config
.kube/http-cache/
.lesshst
.local/share/recently-used.xbel
.localized
.npm/anonymous-cli-metrics.json
.npm/index-v5/
.npm/_cacache/
.npm/_locks/
.npm/_logs/
.oh-my-zsh/
.oracle_jre_usage/
.packer.d/
.pylint.d/
.rbenv/shims/
.rbenv/versions/
.rnd
.ruby-version
.sqlcl/
.sqldeveloper/
.ssh/id_*
.ssh/id_rsa
.ssh/known_hosts*
.subversion/auth/
.subversion/config
.subversion/README.txt
.subversion/servers
.Trash/
.vagrant.d/boxes/
.vagrant.d/data/
.vagrant.d/gems/
.vagrant.d/rgloader/
.vagrant.d/setup_version
.vim/
.viminfo
.vs-kubernetes/
.vscode/ansible-credentials.yml
.vscode/argv.json
.vscode/extensions/
.webex/
.wget-hsts
.Xauthority*
.zcompdump-*
.zoomus/
.zsh_sessions/
Applications/
code/
Desktop/
Docs Authoring/
Documents/
Downloads/
go/
Google*Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
venv*/
VirtualBox VMs/
