[submodule "docker-files/dockelk"]
	path = docker-files/dockelk
	url = git@github.com:johnko/dockelk.git
[submodule "docker-files/dockprom"]
	path = docker-files/dockprom
	url = git@github.com:johnko/dockprom.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/johnko/oh-my-zsh.git
