.*_aliases
.*_exports
.account
.ansible_galaxy
.anyconnect
.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/github.cson
.atom/packages/
.atom/recovery/
.atom/storage/
.bash_history
.bash_sessions/
.cache/
.CFUserTextEncoding
.cisco/
.config/configstore/update-notifier-npm.json
.config/gcloud/
.config/gtk-2.0/gtkfilechooser.ini
.cups/
.docker/
.docker/.buildNodeID
.DS_Store
.gem/
.gem/specs/
.kube/config
.lesshst
.local/share/recently-used.xbel
.localized
.npm/anonymous-cli-metrics.json
.npm/index-v5/
.npm/_cacache/
.npm/_locks/
.npm/_logs/
.npmrc
.npmrcs/
.oh-my-zsh
.oracle_jre_usage/
.packer.d/
.pylint.d/
.python_history
.rbenv/
.rnd
.ruby-version
.serverauth.*
.sqlcl/
.sqldeveloper/
.ssh/
.ssh/id_*
.ssh/id_rsa
.ssh/known_hosts.old
.subversion/
.Trash/
.vagrant.d/
.vagrant.d/boxes/
.vagrant.d/data/
.vagrant.d/gems/
.vagrant.d/rgloader/
.vagrant.d/setup_version
.vim/.netrwhist
.viminfo
.vscode/extensions/
.webex/
.wget-hsts
.Xauthority*
.zcompdump-*
.zoomus/
.zshrc.pre-oh-my-zsh
.zsh_history
Applications/
code/
Desktop/
Documents/
Downloads/
Git/
GoogleDrive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
virtualenv-*/
.vs-kubernetes/tools/draft
.vs-kubernetes/tools/minikube
.vs-kubernetes/tools/helm
.vscode/extensions
.vscode/argv.json
.kube/config
.kube/cache
.kube/http-cache
kind-cert.pfx
kind-client.key
kind-client.crt
kind-ca.crt
