[default]
region = ca-central-1
output = json
duration_seconds = 3600
mfa_serial = arn:aws:iam::000000000000:mfa/my_mfa_device_name

[profile id]
credential_process = aws-vault exec --no-session --json --prompt=ykman id

[profile subaccount-orgadmin]
source_profile = id
role_arn = arn:aws:iam::000000000001:role/OrganizationAccountAccessRole
