version: "3.8"

# reference: https://k3d.io/v5.5.1/usage/multiserver/
# https://docs.k3s.io/datastore/ha-embedded

services:
  k3s:
    container_name: k3s
    build: ./
    command: >
      server --tls-san=labcluster --advertise-address={{ vars['vars']['k3s_advertise_ip'] }}
    environment:
      - K3S_TOKEN=lab.local
      - K3S_DATASTORE_ENDPOINT=postgres://postgres:postgres@database:5432/kubernetes
      - K3S_DATASTORE_CAFILE=/var/lib/rancher/k3s/ca.crt
      - K3S_NODE_NAME={{ ansible_facts['hostname'] }}
    extra_hosts:
      - "database:{% for host in groups['database'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}{% endfor %}"
    network_mode: host
    privileged: true
    restart: unless-stopped
    volumes:
      - k3sserver:/var/lib/rancher/k3s/server
      - k3snode:/etc/rancher/node

volumes:
  k3sserver:
  k3snode:
