services:
  caddyollama:
    build: .
    container_name: caddyollama
    entrypoint:
      - /entrypoint.sh
    image: caddyollama:local
    ports:
      - 8880:8880
    restart: unless-stopped
  dyndns:
    build: ./dyndns/
    container_name: dyndns
    entrypoint:
      - /entrypoint.sh
    image: dyndns:local
    restart: unless-stopped
  ssh:
    build: ./ssh/
    container_name: ssh
    entrypoint:
      - /entrypoint.sh
    image: ssh:local
    ports:
      - 2222:2222
    restart: unless-stopped
