<html lang="en">

<head>
  <title>no sleep</title>
  <style>
    /* Default styles (e.g., light mode) */
    body {
      background-color: #ddd;
      color: #222;
      margin: 0;
      overflow: hidden;
      padding: 0;
      height: 100%;
      width: 100%;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      opacity: 66%;
    }

    /* Styles for dark mode */
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #222;
        color: #ddd;
      }

      video {
        opacity: 15%;
      }
    }
  </style>
</head>

<body><video autoplay="true" loop="true" muted="true" src="file://$NO_SLEEP_VIDEO_FILE"></video>
</body>

</html>
