"*":
  core:
    customFileTypes:
      "source.shell": [
        "Dockerfile"
        "bash_completion"
        "bash_exports"
        "bash_path"
        "bash_prompt"
        "bash_profile"
        "profile"
      ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "a9b76207-b3c5-4609-9f24-648cabb3bfea"
  welcome:
    showOnStartup: false
