"*":
  core:
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "9684c31c-70dc-499d-ba7f-e8484a87d4ab"
  welcome:
    showOnStartup: false
