services:
  squid:
    build: .
    container_name: squid
    environment:
      - CN=squid.local
      - O=squid
      - OU=squid
      - C=CA
    image: squid:local
    ports:
      - 3128:3128
      - 3129:3129
    restart: unless-stopped
    volumes:
      - ./cache_dir:/squid/cache
