BIND_INTERFACE={{ ansible_facts['default_ipv4']['interface'] }}
PASSWORD={{ labcluster_ip | reverse | b64encode | replace('=','') }}
VIP_ADDRESS={{ labcluster_ip }}
SOURCE_ADDRESS={{ ansible_facts['default_ipv4']['address'] }}
OPTIONS="{{ vars['vars']['ucarp_options'] }}"
