# https://microk8s.io/docs/add-launch-config
# https://microk8s.io/docs/ref-launch-config
# https://microk8s.io/docs/configure-host-interfaces
---
version: 0.1.0
addons:
  - name: dns

extraKubeletArgs:
  --cluster-dns: 10.152.183.10
  --cluster-domain: cluster.local
  --node-ip: {{ vars['vars']['advertise_ip'] }}

persistentClusterToken: "a74cddf30d2408d49fcd748a26021c6a"

{% if inventory_hostname not in groups['microk8sprimary'] %}
join:
  url: "{% for host in groups['microk8sprimary'] %}{{ hostvars[host]['vars']['advertise_ip'] }}{% endfor %}:25000/a74cddf30d2408d49fcd748a26021c6a"
  worker: false
{% endif %}

extraSANs:
{% for host in groups['microk8sservers'] %}
  - {{ hostvars[host]['vars']['advertise_ip'] }}
{% endfor %}
  - labcluster
  - {{ labcluster_ip }}

extraKubeAPIServerArgs:
  --advertise-address: {{ vars['vars']['advertise_ip'] }}
  --bind-address: 0.0.0.0

extraKubeControllerManagerArgs:
  --bind-address: 0.0.0.0

extraKubeSchedulerArgs:
  --bind-address: 0.0.0.0
