- become: '{{ lookup("env", "ANSIBLE_BECOME") }}'
  become_user: root
  connection: local
  gather_facts: false
  hosts: localhost
  tasks:
    - lineinfile:
        create: true
        line: '{{ lookup("env", "USER") }} ALL = (ALL) ALL'
        path: /etc/sudoers.d/50-local-user
        regexp: ^{{ lookup("env", "USER") }} .* ALL$
        state: present
        validate: /usr/sbin/visudo -cf %s
      name: Allow mac local user to sudo
    - ansible.builtin.file:
        group: wheel
        mode: "0644"
        owner: root
        path: /etc/sudoers.d/50-local-user
        state: file
      name: allow all read
    - lineinfile:
        create: true
        line: '{{ lookup("env", "USER") }} ALL = (ALL) NOPASSWD:ALL'
        path: /etc/sudoers.d/50-local-user
        regexp: ^{{ lookup("env", "USER") }} .* NOPASSWD:ALL$
        state: '{{ lookup("env", "ANSIBLE_ACTION") }}' # present/absent
        validate: /usr/sbin/visudo -cf %s
      name: Allow mac local user to sudo NOPASSWD
